@{
    Layout = "_UserProfileLayout";
}
@model List<ArticleDto>

<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Makale Yönetimi /</span> Makaleler
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card p-3">
        @* <h5 class="card-header">Table Basic</h5> *@
        <div class="table-responsive text-nowrap m-4">

            <a class="btn btn-success mb-3" asp-controller="UserProfile" asp-action="AddArticle">
                Makale Ekle <i class="bx bx-plus"></i>
            </a>
            @if (Model != null)
            {
                <table class="table table-bordered" id="articlesTable" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th>Kategori</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Başlık</th>
                            <th>Kategori</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody class="table-border-bottom-0">
                        @foreach (var article in Model)
                        {
                            <tr name="@article.Id">
                                <td>
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@article.Id"> @article.Title</a>
                                </td>
                                <td>@article.Category.Name</td>
                                <td>@article.CreatedDate.ToShortDateString()</td>
                                <td>@article.CreatedBy</td>
                                <td>@(article.IsDeleted ? "Aktif Değil" : "Aktif")</td>

                                <td>
                                    <a class="btn btn-primary btn-sm" data-id="@article.Id" asp-controller="UserProfile" asp-action="UpdateArticle" asp-route-articleId="@article.Id">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" data-id="@article.Id" asp-controller="UserProfile" asp-action="Delete" asp-route-articleId="@article.Id">
                                        <i class="bx bx-minus-circle"></i>
                                    </a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            }   
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->


</div>

@section Scripts {
    <script src="~/js/articleIndex.js" type="application/ecmascript"></script>
}