@{
    Layout = "_UserProfileLayout";
}
@using YoutubeBlog.Entity.Dtos.Discussions
@model List<DiscussionDto>

<body>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div >
                    <h1>Forumum</h1>
                    <a asp-controller="discussion" asp-action="Add" class="btn btn-info text-white float-end">
                        Forumda Paylaş<i class="bx bx-plus"></i>
                    </a>
                </div>
                
                <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
                <div class="container">
                    <div class="row">
                        <!-- Main content -->

                        <div class="col-lg-12 my-3">
                            @foreach (var discuss in Model)
                            {
                                <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-8 mb-3 mb-sm-0">
                                            <h5>
                                                <a asp-controller="Discussion" asp-action="DiscussionDetail" asp-route-discussionId="@discuss.Id" class="text-primary">@discuss.Title</a>
                                            </h5>
                                            <p class="text-sm"><span class="op-6">@discuss.CreatedDate.ToString("HH:mm dddd, dd MMMM yyyy")</span> tarihinde oluşturuldu.</p>
                                            <div class="text-sm op-5">
                                                <p class="text-secondary">
                                                    @discuss.Content
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 op-7">
                                            <div class="row text-center op-7">
                                                <div class="col mt-4 px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">@discuss.DiscussionFors.Count() Yanıtlar</span> </div>
                                                <div class="col px-1">
                                                    <a asp-controller="Discussion" asp-action="HardDelete" asp-route-discussionId="@discuss.Id"><i class="bx bx-trash text-danger" style="font-size:48px"></i></a>
                                                    <span class="d-block text-sm">Forumdan sil </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
